extends layout

block styles
  link(href="http://fonts.googleapis.com/css?family=VT323" rel="stylesheet" type="text/css")
  link(rel="stylesheet", type="text/css", href="/stylesheets/jquery-ui.css")
  link(rel="stylesheet", type="text/css", href="/stylesheets/game.css")

block scripts
  script(type="text/javascript", src="/socket.io/socket.io.js")

  script(type="text/javascript", src="/javascripts/libs/jquery-2.1.0.min.js")
  script(type="text/javascript", src="/javascripts/libs/jquery-ui-1.10.4.custom.min.js")
  script(type="text/javascript", src="/javascripts/libs/jquery-ui.combobox.js")
  script(type="text/javascript", src="/javascripts/libs/jquery-ui.combobox.js")
  script(type="text/javascript", src="/javascripts/libs/createjs.min.js")

  script(type="text/javascript", src="/javascripts/libs/gl/three.min.js")
  script(type="text/javascript", src="/javascripts/libs/gl/EffectComposer.js")
  script(type="text/javascript", src="/javascripts/libs/gl/RenderPass.js")
  script(type="text/javascript", src="/javascripts/libs/gl/ShaderPass.js")
  script(type="text/javascript", src="/javascripts/libs/gl/CopyShader.js")
  script(type="text/javascript", src="/javascripts/libs/gl/MosaicShader.js")

  script(type="text/javascript", src="/javascripts/libs/scummesque/Game.js")
  script(type="text/javascript", src="/javascripts/libs/scummesque/Interactable.js")
  script(type="text/javascript", src="/javascripts/libs/scummesque/Level.js")
  script(type="text/javascript", src="/javascripts/libs/scummesque/Console.js")
  script(type="text/javascript", src="/javascripts/libs/scummesque/Actor.js")
  script(type="text/javascript", src="/javascripts/libs/scummesque/Utils.js")

  script(type="text/javascript", src="/javascripts/game/game.main.js")
  script(type="text/javascript", src="/javascripts/game/game.ui.js")
  script(type="text/javascript", src="/javascripts/game/game.userselect.js")
  script(type="text/javascript", src="/javascripts/game/game.sockets.js")
  script(type="text/javascript", src="/javascripts/game/game.ljdata.js")
  script(type="text/javascript", src="/javascripts/game/game.chatroom.js")
  script(type="text/javascript", src="/javascripts/game/game.threejs.js")

block content
  section(id="game")
    canvas(id="game_canvas" height="480" width="640")

  section(id="intro")
    section(id="welcome" class="modal")
      h1 Adventures of Teen Bloggers
      a(href="#" id="begin") Click to Begin

    section(id="character_select" class="modal")
      h2 Choose Your Teen
      p You will become the adolescent. You will bring their most private thoughts to the public internet. Choose wisely.
      p Any LiveJournal account will work. Select one from the menu below or pick a new one by copying the account name from <a id="lj_link" href="http://www.livejournal.com/ratings/users/?page=2000" target="_blank">here</a>.
      form
        select(id="available_journals" data-placeholder="Enter LiveJournal Username")

        input(id="user_submit" type="submit", value="Select")
      p(id="character_error" class="error hidden")

  section(id="couple" class="hidden")
    p(class="call" class="hidden")
    p(class="response" class="hidden")

  section(id="chatroom" class="hidden")
    section(class="container")
      ul(id="chat_window")
      
      section(id="online_users_container")
        h2 Online Users
        ul(id="online_users")

    form(id="chat_form")
      select(id="available_sentences")

      input(id="chat_submit" type="submit" value="Say It!")

  section(id="console" class="hidden")

block footer
  script(type="text/javascript").
    $(document).ready(function() {
      game.main.init();
    });