doctype html
html
  head
    title= title

    link(rel="stylesheet", type="text/css", href="stylesheets/reset.css")
    block styles

    block scripts

  body
    section(id="main_content")
      block content

    footer
      block footer