body { background: url('/images/bg.jpg') 0 0 repeat; font-family: 'VT323'; }

.hidden { display: none; }

a, h1, h2 { color: #F30; }
h1 { font-size: 230%; margin-bottom: 8px; }
h2 { font-size: 180%; margin-bottom: 6px; }
p { font-size: 130%; margin-bottom: 4px; }

.ui-autocomplete { max-height: 120px; overflow: scroll; }
.ui-state-default, .ui-widget-content, input, button { background: #000; border: 1px solid #FFF; color: #FFF; font-family: 'VT323'; font-size: 26px; }
.ui-widget-content { margin-bottom: 0; margin-right: -1px; }
.ui-widget-content:focus { outline: none; }
.ui-menu a, .ui-menu-item a { color: #FFF; }
.ui-menu a strong, .ui-menu-item a strong { border-bottom: 1px solid #FFF; }
input::-moz-focus-inner, button::-moz-focus-inner { border: 0; padding: 0; }
#combobox { width: 295px; }

#main_content { background-color: #040404; border: 3px solid #FEFEFE; color: #FEFEFE; height: 480px; overflow: hidden; position: absolute; width: 640px; }
#main_content .modal { background-color: rgba(0,0,0,0.8); padding: 18px; width: 400px; }
#main_content > section { position: absolute; }

#console { background-color: #000; bottom: 0; height: 118px; position: absolute; width: 100%; }
#console { -webkit-transiton: bottom 2s ease; -moz-transition: bottom .5s ease; -o-transition: bottom .5s ease; transition: bottom .5s ease; }
#console.hidden { display: block; bottom: -118px; }

#character_select form { margin-top: 14px; }
#user_submit { margin: 0; vertical-align: bottom; }