body { background: url('/images/bg.jpg') 0 0 repeat; font-family: 'VT323'; }

::selection { background: #F30; color: #FFF; }
::-moz-selection { background: #F30; color: #FFF; }

.hidden { display: none; }
.error { background-color: #F30; color: #000; }
.container { overflow: auto; }

a, h1, h2 { color: #F30; }
h1 { font-size: 230%; margin-bottom: 8px; }
h2 { font-size: 180%; margin-bottom: 6px; }
p { font-size: 130%; margin-bottom: 6px; }

.ui-autocomplete { max-height: 120px; overflow-x: hidden; overflow-y: scroll; }
.ui-state-default, .ui-widget-content, input, button { background: #000; border: 1px solid #FFF; color: #FFF; font-family: 'VT323'; font-size: 26px; }
.ui-widget-content { margin-bottom: 0; margin-right: -1px; }
.ui-widget-content:focus { outline: none; }
.ui-menu a, .ui-menu-item a { color: #FFF; }
.ui-menu a strong, .ui-menu-item a strong { border-bottom: 1px solid #FFF; }
.ui-menu .ui-menu-item a { line-height: 1.1; }
input::-moz-focus-inner, button::-moz-focus-inner { border: 0; padding: 0; }

#game canvas { left: 0; position: absolute; top: 0; }

.combobox { vertical-align: bottom; }
#intro .combobox { width: 295px; }
#chatroom .combobox { width: 470px; }

#main_content { background-color: #040404; border: 3px solid #FEFEFE; color: #FEFEFE; height: 480px; overflow: hidden; position: absolute; width: 640px; }
#main_content .modal { background-color: rgba(0,0,0,0.8); padding: 18px; width: 400px; }
#main_content > section { position: absolute; }

#console { background-color: #000; bottom: 0; height: 110px; padding: 4px 2%; position: absolute; width: 96%; }
#console { -webkit-transiton: height .5s ease, bottom .5s ease; -moz-transition: height .5s ease, bottom .5s ease; -o-transition: height .5s ease, bottom .5s ease; transition: height .5s ease, bottom .5s ease; }
#console.hidden { display: block; bottom: -118px; }
#console ul { position: absolute; }
#console ul li { margin-bottom: 3px; }
#console ul li a { color: #FFF; text-decoration: none; }
#console ul li a:hover { color: #F30; cursor: alias; }

#character_select form { margin: 14px 0; }
#user_submit { margin: 0; vertical-align: bottom; }

#couple { width: 640px; }
#couple p { font-size: 150%; max-width: 300px; padding: 3px; position: absolute; }
#couple .call { background-color: #000; color: #FFF; left: 30px; top: 30px; }
#couple .response { background-color: #FFF; color: #000; right: 160px; text-align: right; top: 30px; }

#chatroom { height: 440px; padding: 48px 25px 0; width: 590px; }
#chatroom .ui-autocomplete { max-height: 74px; }
#chatroom .ui-autocomplete li a { font-size: 20px; }

#chat_window { background: rgba(255,255,255,0.8); color: #000; float: left; height: 300px; width: 390px; }
#chat_window .speaker { color: #F30; margin-right: 6px; }
#chat_window .input .speaker { color: #30F; }

#online_users_container { background: rgba(255,255,255,0.8); color: #000; float: right; height: 300px; width: 190px; }
#online_users_container h2 { color: #000; height: 12%; padding: 2% 6px; }
#online_users { height: 80%; overflow-x: hidden; overflow-y: scroll; padding: 0 6px; }

#chat_form { margin: 2px 0; }